@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lora:wght@400;700&display=swap');

html {
  min-height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body {
  margin: 0;
  padding: 1em;
  font-family: "Handlee", cursive;
  color: #504f50;
  margin-bottom: 2em;
}

header,
footer {
  font-family: 'Lora', serif;
  left: 0;
  width: 100%;
}

header {
  font-size: calc(10px + 2vmin);
  top: 0;
  margin-bottom: 0.5em;
  position: initial;
  display: flex;
}

footer {
  position: absolute;
  font-size: calc(6px + 1vmin);
  bottom: 0;
}

.container {
  width: calc(40vw + 40vmin);
}

.no-tasks {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-tasks-icons {
  display: grid;
}

img.check-icon {
  width: 4em;
  background: #d9dde0;
  border-radius: 5em;
  padding: calc(10% + 1vmax);
  margin: 1em auto;
}

.open-btn {
  float: right;
  position: absolute;
  top: 2em;
  right: 1em;
}

.btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
}

.plus-btn {
  background-image: url("assets/icons/plus.svg");
}

.check-btn {
  margin-right: 1em !important;
}

.check-btn:hover,
.checked {
  background-image: url("assets/icons/check.svg");
}

.checked {
  box-shadow: none !important;
}

.line-through {
  text-decoration: line-through;
  color: #8b9498;
}

.disable {
  color: #8b9498 !important;
  cursor: default !important;
}

.disable:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
}

.buttons {
  display: inline-flex;
}

.edit-btn {
  background-image: url("assets/icons/edit.svg");
  width: 3em;
}

.delete-btn {
  background-image: url("assets/icons/trash.svg");
  width: 3em;
}