@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lora:wght@400;700&display=swap');

html {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body {
  margin: 0;
  padding: 1em;
  font-family: "Handlee", cursive;
  color: #504f50;
}

header,
footer {
  font-family: 'Lora', serif;
  left: 0;
  width: 100%;
}

header {
  font-size: calc(10px + 2vmin);
  top: 0;
  margin-bottom: 2.5em;
  position: initial;
}

footer {
  position: absolute;
  font-size: calc(6px + 1vmin);
  bottom: 0;
}

.container {
  width: calc(40vw + 40vmin);
}

.open-btn {
  float: right;
  position: absolute;
  top: 4.5em;
  right: 1em;
}