@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lora:wght@400;700&display=swap');

html {
  min-height: 100vh;
  text-align: center;
}

body {
  margin: 0;
  padding: 1em;
  font-family: "Handlee", cursive;
}

.App-header {
  font-family: 'Lora', serif;
  font-size: calc(10px + 2vmin);
}
